@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1000px;
  margin-inline: auto;
  background-color: #f7f7f7;
}
main {
  display: flex;
  gap: 30px;
}

header {
  margin-bottom: 70px;
}

header h2 {
  font-size: 50px;
  color: #092c3f;
  font-weight: 900;
}

img {
  vertical-align: middle;
  transition: transform 0.3s ease;
  width: 100%;
}
.header-in div {
  width: 54px;
  height: 2px;
  background-color: #eb566c;
}

.header-in {
  font-size: 18px;
  margin-bottom: 17px;
  text-transform: uppercase;
  color: #eb566c;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-img:hover img {
  transform: scale(1.03);
}
.main-txt {
  padding: 20px 20px 20px 50px;
  background: #fff;
}

.main-txt h3 {
  color: #161e46;
  font-weight: 700;
  font-size: 25px;
}
.main-img {
  overflow: hidden;
}
.main-top-txt {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-top-txt div {
  width: 35px;
  height: 3px;
  background-color: #eb566c;
}

.main-top-txt p {
  color: #ff2143;
  font-size: 14px;
  font-weight: 300;
}
