* {
  margin: 0px;
  padding: 0px;
}
.home-page {
  padding: 50px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-Sec1 {
  color: #426b1f;
  font-size: 32px;
}
.nav-sec2 {
  display: flex;
  font-family: "Inter", sans-serif;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
.nav-text {
  color: #000000;
  font-size: 22px;
}
.nav-button {
  color: #ffffff;
  background-color: #426b1f;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  padding: 13px 35px;
  font-size: 17px;
}

.sec-2 {
  text-align: center;
  margin-top: 100px;
}
.sec-2-txt {
  font-size: 64px;
}

.sec-2-btn {
  color: #ffffff;
  background-color: #426b1f;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  border-radius: 15px;
  padding: 13px;
  margin-top: 40px;
}
