@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  max-width: 1000px;
  margin: 100px auto;
}

.container {
  display: flex;
  gap: 30px;
}

.header {
  text-align: center;
  margin-bottom: 50px;
  max-width: 730px;
  margin-inline: auto;
}
.header h2 {
  font-size: 36px;
  text-transform: uppercase;
  color: #1f1f2c;
  line-height: 1.3;
  font-weight: 700;
}

.header p {
  font-size: 16px;
  color: #636363;
}

.card {
  width: 33.3333%;
}

.card img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
}

.card h4 {
  color: #1f1f2c;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 15px;
  transition-duration: 500ms;
}
.card p {
  color: #636363;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 16px;
}
.read-more {
  display: flex;
  align-items: center;
}
a:hover {
  margin: 10px;
}
a,
a:hover,
a:focus {
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #c92f2f;
}

a {
  font-weight: 700;
  color: #959595;
  font-size: 14px;
}
