* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: greenyellow;
  height: 50px;
}
.container {
  max-width: 1120px;
  width: 70%;
  margin: auto;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.pages ul {
  display: flex;
  gap: 35px;
}
a {
  color: greenyellow;
}
h1 {
  font-size: 60px;
  font-weight: 800;
}

h3 {
  font-size: 30px;
  font-weight: 800;
}

h4 {
  font-size: 21px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: 700;
}

footer {
  width: 100%;
  background-color: #1ca3b4;
  height: 100px;
}
