* {
  margin: 0;
  padding: 0;
}

ol {
  width: 400px;
  margin: auto;
}

li:first-child {
  background-color: black;
}

li:nth-child(2) {
  background-color: #c0c0c0;
}
li:nth-child(3) {
  background-color: #808080;
}
li:nth-child(4) {
  background-color: #3498db;
}
li:nth-child(5) {
  background-color: #800000;
}
li:nth-child(6) {
  background-color: #ff0000;
}
li:nth-child(7) {
  background-color: #800080;
}
li:nth-child(8) {
  background-color: #ff00ff;
}
li:nth-child(9) {
  background-color: #008000;
}
li:nth-child(10) {
  background-color: #00ff00;
}

li:hover {
  cursor: pointer;
  background-color: #fff;
  color: black;
  transition: all ease-in 0.2s;
}

li {
  list-style-position: inside;
  padding: 15px;
  color: #fff;
  transition: all ease-in 0.2s;
}
