* {
  box-sizing: border-box;
}
body {
  max-width: 1270px;
  width: 60%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}
h1,
h3 {
  font-weight: 900;
}
table {
  width: 100%;
  background-color: #f0fff8;
  border-radius: 5px;
  border-collapse: collapse;
}
td {
  border: 2px solid;
  border-color: #80ced6;
  padding: 10px;
}

p,
ul {
  box-sizing: border-box;
  padding: 35px;
  border: 1px solid #80ced6;
  background-color: #f0fff8;
  border-radius: 10px;
}
