.container {
  width: 80%;
  margin: 50px auto;
  background-color: gray;
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr 1fr 1fr;
  grid-template-rows: 150px 100px 100px 110px;
  gap: 14px;
  padding: 10px;
}

.item {
  color: #fff;
  background-color: red;
  font-size: 50px;
}

.item:nth-child(1) {
  grid-row: 1/3;
  background-color: #f1463e;
}
.item:nth-child(2) {
  background-color: #fff;
  background-color: #2cc4cf;
  grid-column: 2/4;
}
.item:nth-child(3) {
  background-color: bisque;
  background-color: #d6b268;
  grid-column: 4/6;
}

.item:nth-child(4) {
  grid-row: 2/4;
  background-color: #d6b268;
}
.item:nth-child(5) {
  background-color: #fff;
  color: #000;
  grid-row: 2/4;
  grid-column: 3/5;
}
.item:nth-child(6) {
  background-color: #f1463e;
  grid-row: 2/5;
}
.item:nth-child(7) {
  background-color: #fff;
  color: #000;
  grid-row: 3/5;
}
.item:nth-child(8) {
  grid-column: 2/4;
  background-color: #f1463e;
}
