* {
  margin: 0;
  padding: 0;
}

.grid-container {
  max-width: 1320px;
  margin-inline: auto;
  /* width: 70%; */
  border: 1px solid red;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 100px);
}
div:nth-child(1) {
  background-color: #ca316a;
}
div:nth-child(2) {
}
div:nth-child(3) {
}
div:nth-child(4) {
}
div:nth-child(5) {
}
div:nth-child(6) {
}
div:nth-child(7) {
}
div:nth-child(8) {
}
div:nth-child(9) {
}
div:nth-child(10) {
}
div:nth-child(11) {
}
div:nth-child(12) {
}

