* {
  margin: 0;
  padding: 0;
}

.grid-container {
  margin: 100px auto;
  height: 600px;
  width: 80%;
  border: 1px solid red;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 0.5fr 1fr 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.item {
  background-color: brown;
  color: #fff;
  font-size: 50px;
}

div:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
div:nth-child(3) {
  grid-row: span 4;
}

div:nth-child(11) {
  grid-column: 1/4;
}
