/*   font-family: "Roboto", sans-serif; */
/*   font-family: "Roboto Slab", serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1120px;
  margin: 100px auto;
}

.header h1 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
  color: #000000;
  margin-bottom: 50px;
}
.section {
  display: grid;
  grid-template-columns: 7fr 5fr;
  justify-items: end;
  margin-bottom: 100px;
}
.section p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.footer {
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: center;
}
.footer-txt {
  display: grid;
  grid-template-columns: repeat(3, 33.333333%);
}

.footer-txt h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  color: #000000;
}
.footer-txt p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}

@media screen and (max-width: 992px) {
  .container {
    margin-inline: 30px;
  }

  .section {
    display: grid;
    grid-template-columns: 12fr;
    justify-items: center;
    p {
      margin-bottom: 100px;
      font-size: 20px;
    }
  }

  .footer img {
    display: none;
  }
  .footer {
    display: grid;
    grid-template-columns: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 630px) {
  .footer-txt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .section p {
    font-size: 15px;
  }
}
